* {
  padding: 0px 0px 0px 0px;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 0px;
}

#waybar {
  background: transparent;
  margin: 0 0 0 0;
}

#workspaces,
#memory,
#backlight,
#pulseaudio,
#clock,
#network,
#idle_inhibitor,
#battery,
#custom-media {
  border: 1px solid #242738;
  background-color: #1a1b26;
  opacity: 0.9;
}

#temperature,
#tray,
#workspaces {
  margin-left: 0px;
  margin-right: 1px;
  padding-left: 0px;
  padding-right: 1px;
  background: transparent;
  border: none;
}

#workspaces button.active {
  color: #a8773b;
}

#clock {
  background-color: transparent;
  border: 2px solid #242738;
  border-top: none;
  border-radius: 0px 0px 8px 8px;
  margin-left: 6px;
  margin-right: 0px;

  padding: 0px 8px 0px 8px;

  color: #ffffff;
}

#battery {
  background-color: transparent;
  border: 2px solid #242738;
  border-left: none;
  border-top: none;
  border-radius: 0px 0px 8px 0px;
  margin-left: 0px;
  margin-right: 0px;

  padding: 0px 8px 0px 8px;

  color: #ffffff;
}

#battery.charging {
  color: #7dcfff;
}

#battery.warning:not(.charging) {
  color: #d7a866;
}

#battery.critical:not(.charging) {
  color: #ec7189;
}

#backlight {
  background-color: transparent;
  border: 2px solid #242738;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0px 0px 0px 0px;
  margin-left: 0px;
  margin-right: 0px;

  padding: 2px 8px 0px 8px;

  color: #ffffff;
}

#pulseaudio {
  background-color: transparent;
  border: 2px solid #242738;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0px 0px 0px 0px;
  margin-left: 0px;

  padding: 0px 8px 0px 8px;

  color: #ffffff;
}

#custom-radio-toggle {
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid #242738;

  padding: 0px 0px 0px 5px;
}

#network {
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid #242738;

  padding: 0px 8px 0px 0px;
}

#idle_inhibitor {
  background-color: transparent;
  border: 2px solid #242738;
  border-right: none;
  border-top: none;
  border-radius: 0px 0px 0px 8px;
  margin-left: 5px;
  margin-right: 0px;
  padding: 2px 0px 0px 8px;
  color: #ffffff;
}

#temperature {
  background-color: transparent;
  border: 2px solid #242738;
  border-left: none;
  border-top: none;
  border-radius: 0px 0px 8px 0px;
  margin-right: 0px;

  padding: 0 8px 0 8px;
  color: #ffffff;
}

#temperature.critical {
  color: #eb4d4b;
}

#memory {
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid #242738;

  /* border: none; */
  /* margin-right: 0px; */
  /* background: transparent; */
  /* margin-right: 3px; */
  padding: 0 8px 0 8px;
  color: #ffffff;
}

#custom-gpu-usage {
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid #242738;

  padding: 0 8px 0 8px;
  color: #ffffff;
}

#cpu {
  background-color: transparent;
  border: 2px solid #242738;
  border-right: none;
  border-top: none;
  border-radius: 0px 0px 0px 8px;

  margin-left: 0px;
  margin-right: 0px;
  padding: 0 8px 0 8px;
  color: #ffffff;
}

#tray {
  background: transparent;
  margin-right: 0px;
  padding: 0 8px 0 8px;
  border-radius: 0px 0px 0px 0px;
}
