[pyprland]
plugins = ["scratchpads", "shortcuts_menu", "expose", "toggle_special"]

[pyprland.variables]
headphones = "WH-1000XM5"

[scratchpads.term]
animation = ""
command = "kitty --class kitty-dropterm --directory ~"
class = "kitty-dropterm"
size = "80% 80%"
# margin = "5%"
# position = "20% 20%"

[shortcuts_menu]
engine = "rofi"
parameters = "-theme ~/.config/rofi/rofi-config.rasi -dmenu"
submenu_start = "î®… "
submenu_end = ""

[shortcuts_menu.entries."Bluetooth"]
"Connect to Headphones" = "bconnect --rfkill [headphones]"
"Disconnect from Headphones" = "bconnect -d [headphones]"
"Turn Bluetooth On" = "systemctl start bluetooth.service; rfkill unblock bluetooth; notify-send 'Bluetooth' 'Turned Bluetooth on'"
"Turn Bluetooth Off" = "systemctl stop bluetooth.service; rfkill block bluetooth; notify-send 'Bluetooth' 'Turned Bluetooth off'"

[shortcuts_menu.entries."Power"]
"Suspend" = "systemctl suspend"
"Hibernate" = "systemctl hibernate"
"Reboot" = "systemctl reboot"
"Shutdown" = "systemctl poweroff"
