
# Set of aliases to use for both bash and zsh
alias ls='eza --group-directories-first --icons=never'
alias ll='eza -alhF --icons=always'
alias l='eza -alhF --icons=always'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias up="sudo pacman -Syu"
alias sys="systemctl"
alias hibernate="systemctl hibernate"
alias suspend="systemctl suspend-then-hibernate"
alias bon="systemctl start bluetooth.service"
alias boff="systemctl stop bluetooth.service"
alias pow="watchc upower -i /org/freedesktop/UPower/devices/battery_BAT0"
alias wifi-portal="firefox -private-window http://neverssl.com &"

mnt-usb() {
    sudo mount -o uid="$UID" "$1" /media/usb
    cd /media/usb
}

umnt-usb() {
    cd "$HOME"
    sudo umount /media/usb
}

alias mnt="sudo mount -o uid=$UID"

op() {
    xdg-open "$1" &> /dev/null &; disown
}

alias hconf='nvim ~/.config/hypr/hyprland.conf'
alias nconf='nvim ~/.config/nvim/init.lua'
alias kconf='nvim ~/.config/kitty/kitty.conf'
alias wlog='nvim ~/data/work-log.txt'

alias conda="micromamba"
alias mamba="micromamba"
alias ma="micromamba"

alias gpu-run="NVD_BACKEND=direct LIBVA_DRIVER_NAME=nvidia prime-run"
alias firefox="NVD_BACKEND=direct MOZ_DISABLE_RDD_SANDBOX=1 LIBVA_DRIVER_NAME=nvidia prime-run firefox"
alias spotify="NVD_BACKEND=direct LIBVA_DRIVER_NAME=nvidia prime-run spotify-launcher &; disown"

# Alias for shortening lazygit
alias lg="lazygit"

alias mpv="mpv --gpu-api=vulkan --hwdec=nvdec"
# alias mpv="mpv --hwdec=vdpau --gpu-api=vulkan"

# Alias for shortening command to display line length of java files
alias len-java="find . -iname '*.java' -exec wc -L {} \;"

# Alias for running JUnit tests
alias junit="java -cp ./bin:./lib/junit-4.12.jar:./lib/hamcrest-core-1.3.jar org.junit.runner.JUnitCore"

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# Aliases for kitty terminal emulator

# Alias for displaying images using icat in kitty
alias icat="kitty +kitten icat"
# Alias for using kitty wrapper over ssh
alias kssh="kitty +kitten ssh"

alias research="cd ~/dev/research/dr.shah/noise_suppression/; micromamba activate ecg_vae"
alias 320="cd ~/dev/school/cmsc-320/; micromamba activate cmsc320"
alias 330="cd ~/dev/school/cmsc-330/; micromamba activate cmsc330"
alias 351="cd ~/dev/school/cmsc-351/"

alias jlab='micromamba run -n jupyter jupyter lab'
alias nvitop='micromamba run -n utils nvitop'

leetcode_create_edit() {
    read "input?Enter the string in the format '<number>. <words>': "

    formatted_input=$(echo $input | sed 's/\. / /g' | tr '[:upper:]' '[:lower:]' | tr -d '[:punct:]' | tr ' ' '-')

    cd "$HOME/dev/leetcode/"
    mkdir "$formatted_input"

    echo "from typing import *" > "$formatted_input/$formatted_input.py"
    export NVIM_DISABLE_COPILOT=1; nvim "$formatted_input/$formatted_input.py"
}

alias leet="leetcode_create_edit"
